
:host {

  text-align: center;

}
aside::-webkit-scrollbar {
  width: 5px;               /* ширина scrollbar */
}

aside::-webkit-scrollbar-track {
  background: var(--black-blue);        /* цвет дорожки */
}
aside::-webkit-scrollbar-thumb {
  background-color: gray;    /* цвет плашки */
  border-radius: 20px;       /* закругления плашки */
  max-height: 5px;
}


header{
  height: 6rem;
  background:var(--black-blue);
  color: #fff;
  display: flex;
  justify-content:space-between;
  align-items: center;
  padding: 0 1rem;

}
aside{
  float: left;
  display: flex;
  width: 25vw;
  background: var(--black-blue);
  /*background: rgb(9, 74, 119);*/
  color: #fff;
  /*min-height: calc(100vh - 4rem);*/
  height: 100% ;
  flex-direction: column;
  overflow: hidden;
}
aside:hover{
  direction: rtl;
  overflow:scroll;
  overflow-x:hidden;
}
section{
  float: left;
  width: 75vw;
  padding-right: 20px;
  padding-left: 30px;
  background: var(--black-blue);
  color: #fff;
  /*min-height: 120px;*/
  height: 100%;
}
main{

  position: relative;
  width: 100vw;
  height: calc(100vh - 6rem);
  /*height:100%;*/
}
h1{
  color: white;
  margin-bottom: 0.3em;
  text-align: left;
}

