
nz-select {
  width: calc(25vw/3*2);
  font-size: 20px;

}
nz-option{
  display: flex;
  justify-content: center;

}
p{
  margin-left: 30px;
  display: inline;
  font-size: 20px;
}
img{
  display: inline-block;
  height: 30px;
  width: 30px;
}
h1{
  display: inline;
  margin-bottom: 0;
  margin-left: 10px;
  font-size:34px ;
  line-height: 24px;
}
div{
  /*padding-top: 10px;*/
  display: flex;
  align-items: center;
}
span{
  display: block;
  margin-bottom: 20px;
}

span > p {
  margin-left: 20px;
}
