*{
  margin: 0;
  padding: 0;
}
ul{
  list-style: none;
}
:host{
  margin: 1rem;
  display: block;

  border-bottom: solid 1px;
  border-radius: 20px;
  background-color: white;
  padding: 1.5rem 3rem;
}
ul> :not(:last-child)  {
  border-bottom: solid rgba(128, 128, 128, 0.31) .5px;
}
